allure-pytest==2.13.5
allure-python-commons==2.13.5
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
coverage==7.14.0
idna==3.11
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
pytest==7.4.3
pytest-cov==4.1.0
requests==2.31.0
selenium==4.41.0
typing_extensions==4.15.0
urllib3==2.6.3
webdriver-manager==4.1.1

# Зависимости PyAutoGUI (минимально необходимое)
PyAutoGUI==0.9.54
pyobjc-core==12.2
pyobjc-framework-Cocoa==12.2
pyobjc-framework-Quartz==12.2
rubicon-objc==0.5.4
pillow==12.2.0

